body{
    background-color: #6c757d;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.drum-image{
    width: 250px;
    height: 200px;
    margin: 20px;
}

h1{
    margin: 20px;
}

.drum-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin: 30px auto;
    max-width: 900px;

}

.drum-pad{
    width: 100px;
    height: 100px;
    background-color: rgb(13, 42, 205);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.drum-pad:hover{
    background-color: rgb(114, 114, 255);
}

.drum-pad.active{
    transform: scale(0.9);
    background-color: #10b1e7;
}